*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.main-container
{
  margin: 0 auto;
  height: 100%;
 
}

.header
{
  width: 100%;
  height: 30px;
  background: rgb(204, 21, 60);

}
h2{
  margin-top: 2%;
  margin-bottom: 1%;
}
.info-container
{
  
  width: 40%;
  height: 100%;
  margin: 5% auto;
  overflow: hidden;
  color: black;
  
}
.nextbtn
{
  width: 20%;
  background-color:rgb(204, 21, 60) ;
  padding: 5px;
  color : white;
  margin: 2% auto;
}

.calendar-container
{
  width: 20%;
  height: 100%;
  margin: 5% auto;
  overflow: hidden;
}
.external-event-calendar {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;

}


.tracks
{
    
    display: grid;
    width: 40%;
    margin: 2% auto;
  grid-template-columns: auto auto auto auto;
    padding: 5px;
    min-width: 30%;
    max-width: 40%;
    color: rgb(85, 84, 84);
    grid-gap: 5px;
    cursor: pointer;
}
.time-slots   {
  border: 1px solid rgb(122, 122, 122);
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
}
.tracks :hover
{
  background-color: cornflowerblue;
}


